div.wpcf7 {
	margin: 0;
	padding: 0;
}

div.wpcf7-response-output {
	margin: 2em 0.5em 1em;
	padding: 0.2em 1em;
}

div.wpcf7 .screen-reader-response {
	position: absolute;
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	width: 1px;
	margin: 0;
	padding: 0;
	border: 0;
}

div.wpcf7-mail-sent-ok {
	border: 2px solid #398f14;
}

div.wpcf7-mail-sent-ng {
	border: 2px solid #ff0000;
}

div.wpcf7-spam-blocked {
	border: 2px solid #ffa500;
}

div.wpcf7-validation-errors {
	border: 2px solid #f7e700;
}

.wpcf7-form-control-wrap {
	position: relative;
}

span.wpcf7-not-valid-tip {
	color: #f00;
	font-size: 1em;
	font-weight: normal;
	display: block;
}

.use-floating-validation-tip span.wpcf7-not-valid-tip {
	position: absolute;
	top: 20%;
	left: 20%;
	z-index: 100;
	border: 1px solid #ff0000;
	background: #fff;
	padding: .2em .8em;
}

span.wpcf7-list-item {
	display: inline-block;
	margin: 0 0 0 1em;
}

span.wpcf7-list-item-label::before,
span.wpcf7-list-item-label::after {
	content: " ";
}

.wpcf7-display-none {
	display: none;
}

div.wpcf7 .ajax-loader {
	visibility: hidden;
	display: inline-block;
	background-image: url('../../images/ajax-loader.gif');
	width: 16px;
	height: 16px;
	border: none;
	padding: 0;
	margin: 0 0 0 4px;
	vertical-align: middle;
}

div.wpcf7 .ajax-loader.is-active {
	visibility: visible;
}

div.wpcf7 div.ajax-error {
	display: none;
}

div.wpcf7 .placeheld {
	color: #888;
}

div.wpcf7 .wpcf7-recaptcha iframe {
	margin-bottom: 0;
}

div.wpcf7 input[type="file"] {
	cursor: pointer;
}

div.wpcf7 input[type="file"]:disabled {
	cursor: default;
}

#MAIN-MENU	{
	height: 30px; /* set to the height you want your menu to be */
	margin: 0 0 10px; /* just to give some spacing */
}
#MAIN-MENU ul	{
	margin: 0; padding: 0; /* only needed if you have not done a CSS reset */
	position: relative;
	right: 43px;
}
#MAIN-MENU li	{
	display: block;
	float: left;
	line-height: 30px; /* this should be the same as your #main-nav height */
	height: 81px; /* this should be the same as your #main-nav height */
	margin: 0; padding: 0; /* only needed if you don't have a reset */
	position: relative; /* this is needed in order to position sub menus */
}
#MAIN-MENU li a	{
	display: block;
	height: 30px;
	line-height: 30px;
	padding-left:25px;
	padding-right:15px;
	position: relative;
	top:28px;
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	color:#040404;
	font-family: 'montserrat-2';
}
.top-nav-holder{
    height: 107px;
}
#MAIN-MENU .current-menu-item a, #main-nav .current_page_item a, #main-nav a:hover {
	color: #040404;
}


#MAIN-MENU > li > ul { /* this targets all sub menus */
	display: none; /* hide all sub menus from view */
	position: absolute;
	right: 10px;
	top: 30px; /* this should be the same height as the top level menu -- height + padding + borders */
}
#MAIN-MENU ul ul li { /* this targets all submenu items */
	float: none; /* overwriting our float up above */
	width: 150px; /* set to the width you want your sub menus to be. This needs to match the value we set below */
}
#MAIN-MENU ul ul li a { /* target all sub menu item links */
	padding: 5px 10px; /* give our sub menu links a nice button feel */
}

#MAIN-MENU > li:hover > ul.sub-menu {
	display: block; /* show sub menus when hovering over a parent */
}

ul.sub-menu > li{
	border: 0px !important;
	padding:0px;
}
ul.sub-menu > li > a{
    width: 150px;
    position: relative !important;
    left: 79px;
    top: 37px !important;
    background-color: #102157;
    color: white !important;
    font-size: 14px !important;
    text-align: left;
    padding-left: 7px !important;
    padding-top: 1px !important;
}
ul.sub-menu{
	height: 100px !important;
}

@media (max-width: 1216px) {
	#MAIN-MENU li a {
	    display: block;
	    height: 30px;
	    line-height: 30px;
	    padding-left: 9px;
	    padding-right: 17px;
	    position: relative;
	    top: 28px;
	    font-size: 16px;
	    font-weight: bold;
	    text-transform: uppercase;
	    color: #040404;
	    font-family: 'montserrat-2';
	}
}
@media (max-width: 1081px) {
	#MAIN-MENU li a {
	    display: block;
	    height: 30px;
	    line-height: 30px;
	    padding-left: 9px;
	    padding-right: 17px;
	    position: relative;
	    top: 28px;
	    font-size: 13px;
	    font-weight: bold;
	    text-transform: uppercase;
	    color: #040404;
	    font-family: 'montserrat-2';
	}
}